@page
@model HR_test.Pages.Clients.Create.CreateModel
@{
}

<br />
<h2>New Employee</h2>
<form method="post">
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Name</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="name" placeholder="ex: John Doe" value="@Model.employeeInfo.name" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Email</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="email" placeholder="ex: johndoe@email.com " value="@Model.employeeInfo.email" />
        </div>
    </div>
    <div class="row mb-3">
        <div class="offset-sm-3 col-sm-3 d-grid">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div class="col-sm-3 d-grid">
            <a class="btn btn-outline-danger" href="/" role="button">Cancel</a>
        </div>
    </div>
</form>
